@using DeltaSports_BarGrill.Models
@model dashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta Sports Bar and Grill</title>
    <link rel="stylesheet" href="~/css/HomePage.css">
    <script src="/scritps/script.js" async=""></script>

</head>

<body>

    <header>
        <picture class="headerImage-container">
            <source media="(min-width: 1000px)" srcset="/images/headerImgL.png" />
            <source media="(min-width: 425px)" srcset="/images/headerImgM.png" />
            <img src="/images/headerImgS.png" alt="" />
        </picture>
        <div class="logo-container">
            <h1>Delta Sport Bar and Gril</h1>
            <img src="/images/logoImg.png" alt="" />
            <a href="tel:(925)-684-3100 ">
                <div class="phone-container">
                    <button>925-684-3100</button>
                    <i><img src="/images/PhoneIcon.png" alt="" href="tel:(925)-684-3100 " /></i>
                </div>
            </a>
        </div>

        <div class="option-container">
            <div class="button-container">
                <a href="#menuStart">
                    <a href="#MenuTop">
                        <h2>Menu</h2>
                    </a>
                </a>
                <a href="#MenuTop">
                    <h2>Directions</h2>
                </a>
            </div>
        </div>

        <div class="events-container">
            <h2>Specials</h2>
            <ul>
                <li>
                    <div class="event-item-container">
                        <h3>Family Pizza Deal $40.00</h3>
                        <p>Regular Price $50.00</p>
                        <ul>
                            <li>2-large Pizza 3 toppings</li>
                            <li>Chessy Garlic Bread</li>
                            <li>House Salad</li>
                            <li>2L Coke</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="event-item-container">
                        <h3>Monday Specials</h3>
                        <p>Mexican food</p>
                        <ul>
                            <li>Enchiladas </li>
                            <li>Tacos</li>
                            <li>Tostadas</li>
                            <li>Chili Rellenos</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="event-item-container">
                        <h3>Tuesday Specials</h3>
                        <p>Meatloaf</p>
                    </div>
                </li>

                <li>
                    <div class="event-item-container">
                        <h3>Wednesday Specials</h3>
                        <p>Dinner Night</p>
                        <ul>
                            <li>Fried Chicken dinner</li>
                            <li>Country fried steak dinner.</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="event-item-container">
                        <h3>Thursday Specials</h3>
                        <p>Italian Night</p>
                        <ul>
                            <li>Lasagna</li>
                            <li>Spaghetti</li>
                            <li>Fettuccine</li>
                            <li>Shrimp scampi</li>
                            <li>and more</li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="event-item-container">
                        <h3>Weekend Specials</h3>
                        <p>BBQ Chicken & Ribs</p>
                    </div>
                </li>


                <li>
                    <div class="event-item-container">
                        <h3>Daily Specials</h3>
                        <ul>
                            <li>NY Steak</li>
                            <li>Salmon</li>
                            <li>Chicken Tikka Masala</li>
                            <li>Butter Chicken</li>
                        </ul>
                    </div>

                </li>


            </ul>
        </div>

        <div class="info-container">
            <div class="hours-container">
                <h2>Open</h2>
                <ul>
                    <li>Monday-Friday</li>
                    <li class="margin-bottom">12:00-8:00pm</li>
                    <li>Saturday</li>
                    <li class="margin-bottom">8:30am-8:00pm</li>
                    <li>Sunday</li>
                    <li>8:30am-6:00pm</li>
                </ul>
            </div>
            <div class="location-container">
                <h2>Address</h2>
                <p>6210 Bethel Island Rd Bethel Island, Ca 94511</p>
            </div>
        </div>
    </header>

    <main>
        <h2 id="MenuTop">Menu</h2>
        <div class="menu-container">
            @foreach (var item in @ViewBag.allFoodCategories)
            {
                <!--Pizza Menu-->
                <div class="content-container">
                    <div class="block-container">
                        <div class="block-click"></div>
                        <h3 id="onClickPizza">@item.CategoryTitle</h3>
                        @* <h3 id="onClickPizza">@item.FoodCategoryId</h3> *@

                    </div>
                
                    @* <ul class="allitems-container" id="pizzasMenu"> *@
                    <ul class="allitems-container" >

                     @foreach (var subItem in @ViewBag.allFoodItems)
                     {
                            @if (@item.FoodCategoryId == @subItem.FoodCategoryId)
                            {
                                <li class="item-container">
                                    <div class="item-headding" id="pizzaItem1">
                                        <h4>@subItem.ItemTitle</h4>
                                        @* <h4>@subItem.FoodCategoryId</h4> *@
                                        <img src="/images/menuDopts.png" alt="" />
                                    </div>
                                    <div class="item-info" id="pizzaItem1Info">
                                        <p>@subItem.ItemDescription</p>
                                        <p>@subItem.ItemPrice</p>

                                    </div>

                                </li>
                            }

                        }

                        </ul>

                </div>
            }

        </div>

           
    </main>

    <footer></footer>


</body>

</html>